@font-face {
  font-family: kg-summer-sunshine-shadow;
  src: url(../fonts/kg-summer-sunshine-shadow.ttf);
}

.body {
  font-family: "kg-summer-sunshine-shadow", "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  background-image: url(../img/vernon-raineil-cenzon-vLF2n8fiFPY-unsplash_KK.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.header {
  margin-top: 1%;
  margin-bottom: -3rem;
  font-size: 2.5rem;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  flex-wrap: wrap;
}

.element {
  margin: 0 3rem;
  font-size: 3rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  padding-bottom: 1rem;
}

.footer {
  margin: 1rem;
  align-self: flex-end;
}

@media screen and (max-width: 1200px) {
  .header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .element {
    font-size: 1.5rem;
    // display: flex;
    flex-direction: column;
  }
}
